menu
  - if (everyauth.loggedIn)
    li.button.opt
      a(href="/users/#{user.login}") my profile
    li.button.opt
      a(href="/trackers/") my trackers
  - if (everyauth.loggedIn)
    li.button.opt
      a(href="/logout") logout
  - else
    li.button.opt
      a(href="/login") login
    li.button.opt
      a(href="/auth/twitter")
        img(style='border: 0px', src='/img/twitter.png')
    li.button.opt
      a(href="/auth/google")
        = "google"
  - if (!everyauth.loggedIn)
    li.button.opt
      a( href="/users/new" ) sign up
