extends ../layout
block content
  .row
    .six
      h1 Choose your tracker:
    .ten
      ul#trackers.special
        - each project in projects
          li
            a(href='/projects/#{project.id}')= project.name
