h1 Index
script(src="http://majek.github.com/sockjs-client/sockjs-latest.min.js")
script
  var sock = new SockJS('http://rsp.pinmonkey.com:3000/sock');
  sock.onopen = function() {
    console.log('open');
  };
  sock.onmessage = function(message) {
    console.log('received: ' + JSON.stringify(message.data));
  };
  sock.onclose = function(m) {
    console.log('closed',m.status,m.reason);
  };
