h1 Show
block scripts
  script(src='/js/jquery.js')
  script(src="http://majek.github.com/sockjs-client/sockjs-latest.min.js")
  script
    var sock = new SockJS('http://rsp.pinmonkey.com:3000/sock');
    sock.onmessage = function(e) {
      console.log(' [ ] received: ' + JSON.stringify(e.data));
    };
    sock.onclose = function(m){
      console.log(m.reason);
    }
