h1 Create a new tracker
form( action='/trackers/new', method='get', 'class'='step1' )
  div
    label( for='login' ) pivotal login
    input( name='username' )
  div
    label( for='password' ) pivotal password
    input( name='password' )
  div.submit
    input( type='submit', id='login' )

form( action='/users/update', method='post', 'class'='step2' )
  div
    input(type='hidden', name='_method', value='PUT')
    input(type='hidden', name='user[login]', value='#{user.login}')
    label( for='tracker' ) tracker id
    input( name='user[tracker_id]', id='tracker' )
  div.submit
    input( type='submit' )

script(src='/js/base64.js')
script(type='text/javascript')
  $('#login').click(function(ev){
    ev.preventDefault();
    $.ajax({
        url: '/trackers/get_token'
      , data: {
          username: $('input[name=username]').val()
        , password: $('input[name=password]').val()
      }
      , type: 'POST'
      , error : function(xhr, ajaxOptions,err) {
          console.log(ajaxOptions, 'Invalid username or password. Please try again.');
          $('.step1 #username').focus();
        }
      , success: function(resp){
          $('#tracker').val(resp.token);
          $('.step2').submit();
      }
    });
  });
