h1 What can I do?
ul
  li: h2 Auth
  li Create a user
  li Login with twitter
  li Edit a user (at /users/login)
  li: h2 Sockets
  li Theres some socket stuff happening in "pings"
  li: h2 Models
  li Using mongo db and mongoose maodels are in config/models.js
  li: h2 Config
  li A lot happens in config/app.js
