form( action='/login', method='post' )
  fieldset
    div.text
      label( for='login' ) login
      input( name='user[login]' )
    div.text
      label( for='password' ) password
      input( name='user[password]' )
    div.submit
      input.button( type='submit', value='login' )
